.ProjectBlog-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.ProjectBlog-container .ProjectBlog-container-Main {
  position: absolute;
  left: 5%;
  height: 100%;
  width: 90%;
  margin-top: 5%;
}

.ProjectBlog-container-Main .ProjectBlog-Grid {
  height: 100%;
  width: 100%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 70% 30%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}
