.our-features {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;

  margin-top: 90px;
}
.our-features-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-features-heading-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.our-features-heading-details p {
  padding: 0;
  margin: 0;
}
.features-card {
  display: grid;
  grid-template-columns: 26% 26% 28%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 5%;
}
.card-of-features {
  height: 90%;
  width: 100%;
  background-color: rgb(243, 244, 246);
  margin: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.features-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(59, 130, 246);
}

.features-details {
  display: flex;
  flex-direction: column;
}
